/* Định dạng cho thẻ a 
*/
/*#item-active {
    background-color: #019160;
    color: #fff;
}*/

/* 
* Định dạng cho button
*/
.m-btn{
    border: none;
    outline: none;
}

/* Định dạng cho input */

.m-input{
    border-radius: 3px;
    height: 40px;
    font-size: 12px;
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
}
.m-input:focus{
    border: 1px solid #019160;
    outline: none;
    font-size: 13px;
    color: #000000;
}

.m-input:hover{
    cursor: pointer;
}

table{
    margin: 0 0 0 16px;
    padding-right: 26px;
}
table thead{
    font-weight: 400;
    background: #f4f5f6;
}

table th, td{
    border-bottom: 1px solid #bbbbbb;
    padding:10px 16px;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
}
/*
table td:hover{
    overflow: visible;
    max-width: none;
}
*/

table tr:hover td{
    background-color: #f8f8f8;
}

table thead th{
    background: #f4f5f6;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #bbbbbb;
    padding:10px 16px;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    z-index: 3;
}

.text-align-right {
    text-align: right;
}

.text-align-center{
    text-align: center;
}
.btn-event{
    display: flex;
}
.btn-event .btn-edit-cutomer{
    font-weight: 600;
    position: relative;
    color: #0075c0;
    transition: all .25s ease;
    white-space: nowrap;
    font-size: 13px;
    padding-left: 24px;
    padding-right: 20px;
    cursor: pointer;
}
.btn-event .btn-work{
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-image: url("../assets/img/Sprites.64af8f61.svg");
    background-repeat: no-repeat;
    background-position: -896px -359px;
    cursor: pointer;
    
}
.data-more-action {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 2px;
    z-index: 100;
}

.data-more-action .action-list {
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
.data-more-action .action-list:hover {
    color: green;
    background-color: #e5e5e5;
}