.contain .content{
    width: 100%;
    height: calc(100vh - 49px);
    box-sizing: border-box;
    padding: 12px 16px 12px 20px;
    background-color: #f4f5f8;
}

/* 
* Định dạng header content 
*/
.content .header-content{
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
}

.content .header-content .header-title{
    font-size:24px;
    font-weight: bold;
    line-height: 40px;
}

.content .header-content .header-button{
    position:absolute;
    right: 0;
    display: flex;
}

.header-content .header-button .btn-add{
    width: auto;
    height: 36px;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #2ca01c;
    font-size: 13px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.header-content .header-button .btn-add:hover{
    background-color: #35bf22;
    cursor: pointer;
}

.header-content .header-button .btn-add:focus{
    background-color: #01B075;
    cursor: pointer;
}

.header-button .btn-add .btn-add-icon{
    width: 16px;
    height: 16px;
    background-image: url('../assets/icon/add.png');
    /* background-image: url('../../content/icon/add.png'); */
    background-size: contain;
    margin-right: 8px;
}

/* .header-button .btn-option{
    width: 40px;
    height: 40px;
    background-color: #019160;
    border-left: 1px solid #01B075;
    border-radius: 0 4px 4px 0;
    padding-left: 12px;
}

.header-button .btn-option:hover{
    background-color: #2fbe8e;
    cursor: pointer;
}

.header-button .btn-option:focus{
    background-color: #01B075;
    cursor: pointer;
}
.header-button .btn-option-icon{
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/white-down-arrow-png-2.png'); 
    background-image: url('../assets/icon/white-down-arrow-png-2.png');
    background-repeat: none;
    background-size: contain;
} */


/*
    Định dạng category
*/
.category{
    display: flex;
}
.category .svg-icon {
    width: 24px;
    height: 24px;
    background-image: url('../assets/img/Sprites.64af8f61.svg');
    background-repeat: no-repeat;
}
.category .category-left{
    background-position: -224px -360px;
}
.category a{
    color: #0075c0;
    margin: -2px 0 0 -6px;
    font-size: 13px;
}
/* 
* Định dạng tool- bar filter và refresh dữ liệu
*/
.content .tool-bar{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    background: white;
    margin-top: 10px;
}

.tool-bar .tool-bar-left{
    width: 80%;
    display: flex;
    margin-left: 16px;
}

.tool-bar .tool-bar-left .input-search{
    height: 30px;
    width: 252px;
    padding-left: .85em;
    margin-right: 12px;
    font-size: 13px;
    font-style: italic;
}

.tool-bar .tool-bar-left .input-search:focus{
    border: 1px solid #019160;
    font-size: 13px;
}

.icon-search{
    background-image: url('../assets/icon/search.png');
    background-repeat: no-repeat;
    background-position: 240px center;
    background-size: 20px;
}

#list1, #list2{
    margin: auto 12px;
    color: #000000;
}

.tool-bar .tool-bar-left #list1{
    width: 35%;
    padding-left: 16px;
}

.tool-bar .tool-bar-left #list2{
    width: 25%;
    padding-left: 16px;
}

.tool-bar .tool-bar-right{
    position: absolute;
    right: 16px;
}


.tool-bar .tool-bar-right .btn-download{
    background-image: url('../assets/icon/delete.png');
    margin-right: 24px;
}
.tool-bar .tool-bar-right .btn-download:hover{
    background-color: #cacaca;
}

.tool-bar .tool-bar-right .btn-refresh{
    background-image: url('../assets/icon/refresh.png');
}

.tool-bar .tool-bar-right .btn-refresh:hover{
    background-color: #cacaca;
}


/* 
* Định dạng grid table dữ liệu
*/
.content .grid{
    width: 100%;
    /* height: calc(100% - 160px); */
    height: calc(100vh - 240px);
    border-bottom: 1px solid #bbbbbb;
    overflow: scroll;
    background-color: white;
}
    /* Định dạng cho scrollbar ở table với độ dày thanh cuộn là 10px
       màu thanh cuộn là màu #bbbbbb, khi hover vào sẽ có màu đậm hơn
       là #888888*/
        ::-webkit-scrollbar{
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track{
            background: #e9ebee;
            border-radius: 4px;
            border: none;
        }
        ::-webkit-scrollbar-thumb{
            background-color: #bbbbbb;
            border-radius: 4px;
        }
        ::-webkit-scrollbar-thumb:hover{
            background: #888;
        }
/* 
* Định dạng phân trang
*/
.content .pagination{
    width: 100%;
    height: 40px;
}
