.m-dialog{
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
    .m-dialog .dialog-modal{
        position:fixed;
        height: 100%;
        width: 100%;
        background:rgba(0,0,0,.4);
        z-index:999;
    }
    .m-dialog .dialog-content {
        position: absolute;
        width: 900px;
        height: 650px;
        z-index: 1000;
        background-color: white;
        /* top: calc(50% - -90px);
        left: calc(50% - 450px); */
    }
/* Chi tiết form */
    .m-dialog .dialog-header {
        display:flex;
        width: 100%;
        height: 76px;
    }
    .dialog-header .dialog-header-title{
        width: 820px;
    }
    .dialog-header .ms-popup-close{
        width: 60px;
    }
    /* Header */
    .dialog-header-title {
        width: 100%;
        padding: 20px 32px 20px 32px;
        padding-right: 12px;
        position: relative;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }
    .flex{
        display: flex;
    }
    .header-popup .title-popup {
        font-size: 24px;
        color: #111;
        font-weight: 700;
    }
        .con-ms-checkbox {
            justify-content: flex-start;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            right: 0;
        }
        .con-ms-checkbox input{
            width: 18px;
            height: 18px;
        }
        .px-6 {
            padding-left: 1.5rem!important;
            padding-right: 1.5rem!important;
        }
        .con-slot-label{
            padding-left: 0.5em;
        }
        .ms-popup-close {
            display: flex;
            padding: 12px;
        }
        .mr-6-px {
            margin-right: 6px;
        }
        .mi-24 {
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
        }
        .mi {
            background: url('../assets/img/Sprites.64af8f61.svg');
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .mi-help{
            background-position: -89px -144px;
        }
        .mi-close {
            background-position: -144px -144px;
        }
        /* End header */
        
        /* Hộp nhập liệu Dialog */
        .popup-h-73 {
            height: calc(100% - 73px);
        }
        .ms-popup--content {
            transition: all .23s ease .1s;
            flex-direction: column;
            display: flex;
            overflow: auto;
            overflow-y: visible;
            padding: 0 32px 20px 32px;
        }
        .employee-scroll {
            overflow: auto;
        }
        .pd-b-12{
            padding-bottom: 12px;
        }
        .p-r-26 {
            padding-right: 26px;
            width: 387px;
        }
        .ms-con-input{
            width: 100%;
        }
        .row-input {
            padding-bottom: 12px;
        }
        .row-input-on{
            padding-bottom: 10px;
        }
        .p-r-6{
            padding-right: 6px;
            width: 100%;
        }
        .p-r-9{
            padding-right: 6px;
        }
        .p-r-7, .p-r-8{
            width: 100%;
        }
        .p-r-6 .flex-text{
            font-size: 13px;
            font-weight: bold;
            padding-bottom: 4px;
        }
        .p-r-7 .flex-text{
            font-size: 13px;
            font-weight: bold;
            padding-bottom: 4px;
        }
        .p-r-8 .flex-text{
            font-size: 13px;
            font-weight: bold;
            padding-bottom: 4px;
        }
        .p-r-9 .flex-text{
            font-size: 13px;
            font-weight: bold;
            padding-bottom: 4px;
        }
        .flex-text span{
            color: red;
        }
        .p-r-6 .input-code{
            width: 110px;
        }
        .p-r-6 .input-name{
            width: 232px;
        }
        .p-r-6 .select-name{
            width: 100%;
        }
        .p-r-6 .i-title{
            width: 100%;
        }
        .p-r-6 .input-identyti{
            width: 220px;
        }
        .p-r-8 .i-address{
            width: 100%;
        }
        .ms-con-input{
            display: flex;
            align-items: center;
            background: white;
        }
        
        .ms-con-input .input-code, .input-name, .select-name, .i-title, .i-date,.r-check, .input-identyti, .i-address{
            height: 32px;
            padding-left: .85em;
            padding-right: 10px;
            font-size: 13px;
            color: black;
        }
        .ms-con-input .input-left .input-name:focus{
            border: 1px solid #019160;
            font-size: 13px;
        }


        .w-1\/2{
            width: 50%!important;
        }
        .ms-on{
            margin-top: -8px;
            margin-left: -40px;
        }
        .p-r-6 .i-gender{
            margin-left: -23px;
        }
        .ms-on .r-check{
            width: 18px;
            height: 18px;
            float: left;
            margin-top: 17px;
            margin-right: 10px;
            margin-left: 20px;
        }
        .ms-on p{
            font-size: 15px;
            margin-bottom: 13px;
            float: left;
            margin-bottom: 10px;
        }
        /* End hôp nhập liệu */



.dialog-bottom{
    margin-top: -10px;
}
.vue-tablist {
    list-style: none;
    display: flex;
    padding-left: 0;
  }
  
  .vue-tab {
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    background-color: white;
    position: relative;
    bottom: -1px;
  }
  
  .vue-tab[aria-selected="true"] {
    border-color: #e2e2e2;
    border-bottom-color: transparent;
  }
  .vue-tabpanel{
      border:1px solid #ccc;
      height: 194px;
  }
  .vue-tab[aria-disabled="true"] {
    cursor: not-allowed;
    color: #999;
  }
  .tab-list{
      margin: 12px 10px 0 10px;
  }
  .tab-list .t-text{
      font-size: 13px;
      font-weight: 700;
      padding-bottom: 5px;
  }
  .tab-list .t-address, .input-phone{
    height: 32px;
    padding-left: .85em;
    padding-right: 10px;
    font-size: 13px;
    color: black;
    margin-bottom: 10px;
  }
  .tab-list .t-address{
      width: 100%;
  }
  
/* Dialog Footter */
/* Nội dung dialog */

.dialog-footer {
    position: absolute;
    
    height: 80px;
    width: 100%;
    bottom: 0;
    display: flex;
    border-radius: 0 0 5px 5px;
}
    .dialog-footer .btn-save-cus {
        width: 120px;
        height: 36px;
        border-radius: 3px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #2ca01c;
        color: #ffffff;
        align-items: center;
        border: 0;
        outline: none;
        right: 16px;
        margin-top: 20px;
    }
    .dialog-footer .btn-save{
        width: 67px;
        height: 36px;
        padding-left: 8px 20px;
        border: 1px solid #111;
        border-radius: 3px;
        background-color:  #ffffff;
        color: black;
        align-items: center;
        outline: none;
        margin-top:20px;
        margin-left: 573px;
        margin-right: .75em;
    }
    .dialog-footer .btn-save-cus:hover {
        background-color: #35bf22;
        cursor: pointer;
    }
    .dialog-footer .btn-save:hover {
        background-color: #d2d3d6;
        cursor: pointer;
    }
    .dialog-footer .btn-cancel {
        width: 67px;
        height: 36px;
        padding-left: 8px 20px;
        border: 1px solid #111;
        border-radius: 3px;
        background-color:  #ffffff;
        color: black;
        align-items: center;
        outline: none;
        margin-top:20px;
        margin-left: 32px;
    }
    .dialog-footer .btn-cancel:hover {
        background-color: #d2d3d6;
        cursor: pointer;
    }
    .divide {
        width: 100%;
        border-top: 1px solid #e0e0e0;
        margin: 32px 0 20px 0;
        position: relative;
    }