body{
    margin: 0;
    padding: 0;
    font-family: Notosans-regular;
    font-size: 13px;
}

@font-face {
    font-family: Notosans-bold;
    src: url('../assets/font/notosans-bold.3ede5aff.woff2');
}
@font-face {
    font-family: Notosans-italic;
    src: url('../assets/font/notosans-italic.1c1aaac9.woff2');
}
@font-face {
    font-family: Notosans-regular;
    src: url('../assets/font/notosans-regular.2cb88a13.woff2');
}
@font-face {
    font-family: Notosans-semibold;
    src: url('../assets/font/notosans-semibold.df3e6dc4.woff2');
}

.main{
    display: flex;
}

.sidebar{
    width: 178px;
    height: 100vh;
    border-right: 1px solid #e5e5e5;
    position: relative;
    top: 0;
    left: 0;
}

/* .contain{
    width: calc(100% - 221px);
} */
.contain{
    width: 100%;
}

